<h2 class="animate">the Game</h2>

<div class="image">
	<img src="app/css/images/balls.jpg" width="100%">
	<p class="text">
		<span class="spacer">Be a Student of the Game. Like most cliches of sport, this is profound. You can be shaped, or you can be broken. There is not much in between. Try to learn. Be coachable. Try to learn from everybody, especially those who fail. This is hard…Opponents. It’s all educational. How promising you are as a Student of the Game is a function of what you can pay attention to without running away. Nets and fences can be mirrors. And between nets and fences, opponents are also mirrors. This is why the whole thing is scary. This is why all opponents are scary and weaker opponents are especially scary. See yourself in your opponents. They will bring you to understand the Game. To accept the fact that the Game is about managed fear. That its object is to send from yourself what you hope will not return.
		</span>
	</p>
</div>